ol.lista{
    background-color: yellow;
}

ol li:nth-of-type(even){
    color: green;
}

ol li:nth-of-type(odd){
    text-transform: uppercase;
}

body{
    font-size: 20px;
}

h1, h3{
    color: red;
    font-size: 40px;
    border: 1px solid black;
}

li{
    font-size: 20px;
}

li em{
    font-weight: bold;
}

ul.programacao li:nth-of-type(1){
    color: blue;
}
ul.programacao li:nth-of-type(2){
    color: blue;
    background-color: pink;
}
ul.programacao li:nth-of-type(3){
    color: blue;
    background-color: pink;
}

ul.aliados li:nth-of-type(1) a:hover{
    color: rgb(255, 199, 96);
    font-weight: bold;
}

ul.aliados li:nth-of-type(2) a:hover{
    color: green;
    font-weight: bold;
}

ul.aliados li:nth-of-type(3) a:hover{
    color: black;
    font-weight: bold;
}

ul.aliados li:nth-of-type(4) a:hover{
    color: yellow;
    font-weight: bold;
}

ul.aliados li:nth-of-type(5) a:hover{
    color: green;
    font-weight: bold;
}