h1, p{
    text-align: center;
}

li:hover{
    background-color: red;
    text-decoration: underline;

}
p:active, li:active{
    color: yellow;
}
a:visited{
    color: lime;
}
p:active{
    font: bolder;
    transition: all;
}
a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
    font-size: 50px;
}