.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    bottom: 330px;

  }
  
  .baloon {
    position: absolute;
    z-index: 3;
    left: 250px;
    bottom: 450px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    left: 270px;
    bottom: 520px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    left: 550px;
    bottom: 350px;
  }